@use "sass:string" as string;

$icon-font-family: "spring-pms";

$icon-basik: string.unquote('"\\e96f"');
$icon-max_messenger: string.unquote('"\\e96e"');
$icon-no_return: string.unquote('"\\e96d"');
$icon-redo: string.unquote('"\\e96b"');
$icon-undo: string.unquote('"\\e96c"');
$icon-book: string.unquote('"\\e963"');
$icon-portfolio: string.unquote('"\\e964"');
$icon-ruble: string.unquote('"\\e965"');
$icon-site: string.unquote('"\\e966"');
$icon-cloud-structure: string.unquote('"\\e967"');
$icon-conversation: string.unquote('"\\e968"');
$icon-design: string.unquote('"\\e969"');
$icon-globe: string.unquote('"\\e96a"');
$icon-massage: string.unquote('"\\e962"');
$icon-kebab-menu: string.unquote('"\\e95e"');
$icon-meatball-menu: string.unquote('"\\e961"');
$icon-personal: string.unquote('"\\e95d"');
$icon-inspector: string.unquote('"\\e95b"');
$icon-arrow_left_dotted: string.unquote('"\\e89e"');
$icon-arrow_right_dotted: string.unquote('"\\e89f"');
$icon-boat: string.unquote('"\\e90a"');
$icon-booking: string.unquote('"\\e955"');
$icon-cart_2: string.unquote('"\\e956"');
$icon-domestic: string.unquote('"\\e958"');
$icon-feedback: string.unquote('"\\e959"');
$icon-fixprice: string.unquote('"\\e95a"');
$icon-horeca: string.unquote('"\\e950"');
$icon-plot: string.unquote('"\\e95c"');
$icon-QR-logo: string.unquote('"\\e935"');
$icon-scalability: string.unquote('"\\e936"');
$icon-skype: string.unquote('"\\e95f"');
$icon-www: string.unquote('"\\e960"');
$icon-attention: string.unquote('"\\e952"');
$icon-info: string.unquote('"\\e953"');
$icon-question: string.unquote('"\\e954"');
$icon-receipt: string.unquote('"\\e951"');
$icon-spring_screen: string.unquote('"\\e94f"');
$icon-double_bed_split: string.unquote('"\\e94d"');
$icon-couch: string.unquote('"\\e94e"');
$icon-double_bed: string.unquote('"\\e938"');
$icon-single_bed: string.unquote('"\\e939"');
$icon-single_bed1: string.unquote('"\\e93a"');
$icon-address: string.unquote('"\\e93b"');
$icon-alert: string.unquote('"\\e93c"');
$icon-area: string.unquote('"\\e93d"');
$icon-bonus: string.unquote('"\\e93e"');
$icon-breakfast: string.unquote('"\\e93f"');
$icon-bunk_bed: string.unquote('"\\e940"');
$icon-certificate: string.unquote('"\\e941"');
$icon-cottages: string.unquote('"\\e942"');
$icon-done: string.unquote('"\\e943"');
$icon-favourite: string.unquote('"\\e944"');
$icon-hotel: string.unquote('"\\e945"');
$icon-my_iloranta: string.unquote('"\\e946"');
$icon-notification: string.unquote('"\\e947"');
$icon-passport: string.unquote('"\\e948"');
$icon-personal_data: string.unquote('"\\e949"');
$icon-profile: string.unquote('"\\e94a"');
$icon-quit: string.unquote('"\\e94b"');
$icon-star: string.unquote('"\\e94c"');
$icon-flag: string.unquote('"\\e937"');
$icon-extra: string.unquote('"\\e957"');
$icon-group: string.unquote('"\\e916"');
$icon-sauna: string.unquote('"\\e91f"');
$icon-bill: string.unquote('"\\e928"');
$icon-delete: string.unquote('"\\e929"');
$icon-edit: string.unquote('"\\e92a"');
$icon-farm: string.unquote('"\\e92b"');
$icon-farm-products: string.unquote('"\\e92c"');
$icon-history: string.unquote('"\\e92d"');
$icon-meal: string.unquote('"\\e92e"');
$icon-packet: string.unquote('"\\e92f"');
$icon-QR: string.unquote('"\\e930"');
$icon-ready-meals: string.unquote('"\\e931"');
$icon-services: string.unquote('"\\e932"');
$icon-settings: string.unquote('"\\e933"');
$icon-transfer: string.unquote('"\\e934"');
$icon-telegram: string.unquote('"\\e925"');
$icon-logo: string.unquote('"\\e926"');
$icon-whatsapp: string.unquote('"\\e927"');
$icon-animals: string.unquote('"\\e900"');
$icon-arrow_down: string.unquote('"\\e901"');
$icon-arrow_down_short: string.unquote('"\\e902"');
$icon-arrow_left: string.unquote('"\\e903"');
$icon-arrow_left_short: string.unquote('"\\e904"');
$icon-arrow_right: string.unquote('"\\e905"');
$icon-arrow_right_short: string.unquote('"\\e906"');
$icon-arrow_up: string.unquote('"\\e907"');
$icon-arrow_up_short: string.unquote('"\\e908"');
$icon-bedroom: string.unquote('"\\e909"');
$icon-box_checked: string.unquote('"\\e90b"');
$icon-box_unchecked: string.unquote('"\\e90c"');
$icon-burger_menu: string.unquote('"\\e90d"');
$icon-calendar: string.unquote('"\\e90e"');
$icon-card: string.unquote('"\\e90f"');
$icon-cart: string.unquote('"\\e910"');
$icon-check: string.unquote('"\\e911"');
$icon-close: string.unquote('"\\e912"');
$icon-cottage1: string.unquote('"\\e913"');
$icon-discount: string.unquote('"\\e914"');
$icon-e-mail: string.unquote('"\\e915"');
$icon-key: string.unquote('"\\e917"');
$icon-map: string.unquote('"\\e918"');
$icon-no_animals: string.unquote('"\\e919"');
$icon-parking: string.unquote('"\\e91a"');
$icon-pdf: string.unquote('"\\e91b"');
$icon-phone: string.unquote('"\\e91c"');
$icon-radio_selected: string.unquote('"\\e91d"');
$icon-radio_unselected: string.unquote('"\\e91e"');
$icon-search: string.unquote('"\\e920"');
$icon-shower: string.unquote('"\\e921"');
$icon-spreadsheet: string.unquote('"\\e922"');
$icon-wc: string.unquote('"\\e923"');
$icon-wifi: string.unquote('"\\e924"');

