$icon-font-family: "spring-pms";

$icon-basik: unquote('"\\e96f"');
$icon-max_messenger: unquote('"\\e96e"');
$icon-no_return: unquote('"\\e96d"');
$icon-redo: unquote('"\\e96b"');
$icon-undo: unquote('"\\e96c"');
$icon-book: unquote('"\\e963"');
$icon-portfolio: unquote('"\\e964"');
$icon-ruble: unquote('"\\e965"');
$icon-site: unquote('"\\e966"');
$icon-cloud-structure: unquote('"\\e967"');
$icon-conversation: unquote('"\\e968"');
$icon-design: unquote('"\\e969"');
$icon-globe: unquote('"\\e96a"');
$icon-massage: unquote('"\\e962"');
$icon-kebab-menu: unquote('"\\e95e"');
$icon-meatball-menu: unquote('"\\e961"');
$icon-personal: unquote('"\\e95d"');
$icon-inspector: unquote('"\\e95b"');
$icon-arrow_left_dotted: unquote('"\\e89e"');
$icon-arrow_right_dotted: unquote('"\\e89f"');
$icon-boat: unquote('"\\e90a"');
$icon-booking: unquote('"\\e955"');
$icon-cart_2: unquote('"\\e956"');
$icon-domestic: unquote('"\\e958"');
$icon-feedback: unquote('"\\e959"');
$icon-fixprice: unquote('"\\e95a"');
$icon-horeca: unquote('"\\e950"');
$icon-plot: unquote('"\\e95c"');
$icon-QR-logo: unquote('"\\e935"');
$icon-scalability: unquote('"\\e936"');
$icon-skype: unquote('"\\e95f"');
$icon-www: unquote('"\\e960"');
$icon-attention: unquote('"\\e952"');
$icon-info: unquote('"\\e953"');
$icon-question: unquote('"\\e954"');
$icon-receipt: unquote('"\\e951"');
$icon-spring_screen: unquote('"\\e94f"');
$icon-double_bed_split: unquote('"\\e94d"');
$icon-couch: unquote('"\\e94e"');
$icon-double_bed: unquote('"\\e938"');
$icon-single_bed: unquote('"\\e939"');
$icon-single_bed1: unquote('"\\e93a"');
$icon-address: unquote('"\\e93b"');
$icon-alert: unquote('"\\e93c"');
$icon-area: unquote('"\\e93d"');
$icon-bonus: unquote('"\\e93e"');
$icon-breakfast: unquote('"\\e93f"');
$icon-bunk_bed: unquote('"\\e940"');
$icon-certificate: unquote('"\\e941"');
$icon-cottages: unquote('"\\e942"');
$icon-done: unquote('"\\e943"');
$icon-favourite: unquote('"\\e944"');
$icon-hotel: unquote('"\\e945"');
$icon-my_iloranta: unquote('"\\e946"');
$icon-notification: unquote('"\\e947"');
$icon-passport: unquote('"\\e948"');
$icon-personal_data: unquote('"\\e949"');
$icon-profile: unquote('"\\e94a"');
$icon-quit: unquote('"\\e94b"');
$icon-star: unquote('"\\e94c"');
$icon-flag: unquote('"\\e937"');
$icon-extra: unquote('"\\e957"');
$icon-group: unquote('"\\e916"');
$icon-sauna: unquote('"\\e91f"');
$icon-bill: unquote('"\\e928"');
$icon-delete: unquote('"\\e929"');
$icon-edit: unquote('"\\e92a"');
$icon-farm: unquote('"\\e92b"');
$icon-farm-products: unquote('"\\e92c"');
$icon-history: unquote('"\\e92d"');
$icon-meal: unquote('"\\e92e"');
$icon-packet: unquote('"\\e92f"');
$icon-QR: unquote('"\\e930"');
$icon-ready-meals: unquote('"\\e931"');
$icon-services: unquote('"\\e932"');
$icon-settings: unquote('"\\e933"');
$icon-transfer: unquote('"\\e934"');
$icon-telegram: unquote('"\\e925"');
$icon-logo: unquote('"\\e926"');
$icon-whatsapp: unquote('"\\e927"');
$icon-animals: unquote('"\\e900"');
$icon-arrow_down: unquote('"\\e901"');
$icon-arrow_down_short: unquote('"\\e902"');
$icon-arrow_left: unquote('"\\e903"');
$icon-arrow_left_short: unquote('"\\e904"');
$icon-arrow_right: unquote('"\\e905"');
$icon-arrow_right_short: unquote('"\\e906"');
$icon-arrow_up: unquote('"\\e907"');
$icon-arrow_up_short: unquote('"\\e908"');
$icon-bedroom: unquote('"\\e909"');
$icon-box_checked: unquote('"\\e90b"');
$icon-box_unchecked: unquote('"\\e90c"');
$icon-burger_menu: unquote('"\\e90d"');
$icon-calendar: unquote('"\\e90e"');
$icon-card: unquote('"\\e90f"');
$icon-cart: unquote('"\\e910"');
$icon-check: unquote('"\\e911"');
$icon-close: unquote('"\\e912"');
$icon-cottage1: unquote('"\\e913"');
$icon-discount: unquote('"\\e914"');
$icon-e-mail: unquote('"\\e915"');
$icon-key: unquote('"\\e917"');
$icon-map: unquote('"\\e918"');
$icon-no_animals: unquote('"\\e919"');
$icon-parking: unquote('"\\e91a"');
$icon-pdf: unquote('"\\e91b"');
$icon-phone: unquote('"\\e91c"');
$icon-radio_selected: unquote('"\\e91d"');
$icon-radio_unselected: unquote('"\\e91e"');
$icon-search: unquote('"\\e920"');
$icon-shower: unquote('"\\e921"');
$icon-spreadsheet: unquote('"\\e922"');
$icon-wc: unquote('"\\e923"');
$icon-wifi: unquote('"\\e924"');

